* {
  margin: 0;
  padding: 0;
}

.mein{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* align-items: center; */
  margin-top: 30px;
}
.listStyle{
    display: flex;
     justify-content: space-between;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
